@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* oбщее */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  min-height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* header */

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 465px;
}

.navigation-user {
  width: 315px;
  margin-left: auto;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link.button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}

.favorites-count {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
}

/* main */

.main-index {
  flex-grow: 1;
}

/* welcome */

.welcome {
  background-color: #6b8db1;
  background-image: url("../images/welcome-background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

/* advantages */

.advantages {
  text-align: center;
}

.advantages-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  list-style-type: none;
  background-color: #f0f6fa;
  flex-grow: 1;
  min-width: 400px;
}

.advantages-dark {
  width: 100%;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-dark .advantages-item-title {
  color: #ffffff;
}

.advantages-item:nth-child(odd) {
  background-color: #e6f0f6;
}

.advantages-item.advantages-dark {
  background-color: #82b3d3;
  color: #ffffff;
}

/* services */

.services {
  text-align: center;
}

.services-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.services-item {
  list-style-type: none;
  flex-grow: 1;
  min-width: 400px;
}

.services-list li:nth-child(odd) {
  background-color: #f0f6fa;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
}

/* search*/

.search {
  text-align: center;
}

.search-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-link.button {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #756157;
}

/* subscribe */

.subscribe {
  color: #ffffff;
  text-align: center;
  background-color: #6b8db1;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-button.button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

/* footer */

.footer {
  display: flex;
  padding: 0 70px;
}

/* social */

.social-list {
  width: 300px;
  margin-right: 40px;
  padding: 0;
}

.social-item {
  list-style-type: none;
}

.phone-number {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.developer {
  width: 115px;
  margin-left: auto;
}
